* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: black;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
  border-radius: 20px;
}

.header h1 {
  font-size: 50px;
}

.header p {
  font-size: 20px;
}

.nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
  margin-top: 20px;
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.topics {   
  float: left;
  width: 75%;
}

.addinfo {
  float: left;
  width: 25%;
  background-color: black;
  padding-left: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.content::after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 42px;
  background: #333;
  margin-top: 20px;
  border-radius: 20px;
  color: #f2f2f2;
  height: 100px;
}

.footer p {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.card ol {
  margin-bottom: 0; 
}

.card ol li {
  margin-bottom: 8px; 
}

.card ul {
  margin-bottom: 0;
}

.card ul li {
  margin-bottom: 8px;
}

html {
  scroll-behavior: smooth;
}
